{% block menu %}
  {% include "wkit/menu.html" %}
{% endblock %}

<h1 style="padding-bottom: 0px;margin: 0;">{{ mentor.first_name }} {{ mentor.last_name }}</h1>
<p style="margin: 0; padding-bottom: 15px;">&nbsp;&nbsp;&nbsp;mentor profile</p>

<form id="mentor_profile_edit_form" method="post">
{% csrf_token %}

<table class="profile">
  <tr height=50>
    <th>Type</th>
    <th>Value</th> 
  </tr>
	<tr height=50 hidden>
		<td>ID</td>
		<td><input id="mentor_id" name="id" value="{{ mentor.id }}" readonly></td>
	</tr>
  <tr height=50>
    <td>First Name</td>
    <td><input class="enableEdit" id="first_name" name="first_name" value="{{ mentor.first_name }}" readonly></td> 
  </tr>
  <tr height=50>
    <td>Last Name</td>
    <td><input class="enableEdit" id="last_name" name="last_name" value="{{ mentor.last_name }}" readonly></td> 
  </tr>
	<tr height=50>
    <td>Email</td>
    <td><input class="enableEdit" id="email" name="email" type="email" value="{{ mentor.email }}" readonly></td> 
  </tr>
	<tr height=50>
    <td>Phone Number</td>
    <td><input class="enableEdit" placeholder="xxx-xxx-xxxx" id="phone_number" name="phone_number" type="phone-number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value="{{ mentor.phone_number }}" readonly></td> 
  </tr>
	<tr height=50>
		<td>Address</td>
    <td><input class="enableEdit" id="address" name="address" value="{{ mentor.address }}" readonly></td> 
  </tr>
	<tr height=50>
		<td>Apartment, suite, etc.</td>
		<td><input class="enableEdit" id="apartment" name="apartment" value="{{ mentor.apartment }}" readonly></td>
	</tr>
	<tr height=50>
		<td>City</td>
		<td>
			<input class="nonEditMode" id="city" value="{{ mentor.city }}" readonly>

			<select name="city" id="changeCity" class="field-select" hidden>
			{% for key, city in cities.items  %}
				<option value="{{ city }}">{{ city }}</option>
			{% endfor %}
			</select>
		</td>
	</tr>
	<tr height=50>
		<td>Zip/postal code</td>
		<td><input class="enableEdit" id="zip" name="zip" value="{{ mentor.zip }}" readonly></td>
	</tr>
	<tr height=50>
    <td>Field(s) Of Interest</td>
    <td>
			<input class="nonEditMode" id="interest" value="{{ mentor.interest }}" readonly>

			<div id="add-another-interest" hidden>
				<select name="interest" class="field-select" id="field-of-interest-1">
					{% for interest in interests %}
						<option value="{{ interest.interest }}">{{ interest.interest }}</option>
					{% endfor %}
				</select>
			</div>

			<button id="remove-interest-button" type="button" onClick="removeField()" hidden>-</button>
			<button id="add-another-interest-button" type="button" onClick="addAnotherField()" hidden>+</button>
		</td> 
  </tr>
	<tr height=50>
    <td>Career Job Title</td>
    <td><input class="enableEdit" id="email" name="job_title" type="company" value="{{ mentor.job_title }}" readonly></td> 
  </tr>
	<tr height=50>
    <td>Is a Volunteer</td>
    <td>
			<input class="nonEditMode" id="is_volunteer" type="company" value="{{ mentor.is_volunteer }}" readonly>
		
			<select id="changeVolunteerStatus" name="is_volunteer" class="field-select" hidden>
				<option value="yes">Yes</option>
				<option value="no">No</option>
			</select>
		</td> 
  </tr>
	<tr height=50>
		<td>Preferred Method of Contact</td>
		<td>	
			<input class="nonEditMode" id="preferred_method" value="{{ mentor.preferred_method }}" readonly>

			<select id="changePreferredMethod" name="preferred_method" class="field-select" hidden>
				<option value="email">Email</option>
				<option value="call">Call</option>
				<option value="text">Text</option>
			</select>	
		</td>
	</tr>
	<tr height=160>
		<td>Gender</td>
		<td>
			<input class="nonEditMode" id="gender" value="{{ mentor.gender }}" readonly>

			<div id="changeGender" style=" font: 13px 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;" hidden>
				<input style="width: 1% !important" id="Cisgender Women" type="radio" value="Cisgender Women" name="gender"> Cisgender Women<br>
				<input style="width: 1% !important" id="Cisgender Male" type="radio" value="Cisgender Male" name="gender"> Cisgender Male<br>
				<input style="width: 1% !important" id="Genderqueer" type="radio" value="Genderqueer, gender non-binary, or gender fluid" name="gender"> Genderqueer, gender non-binary, or gender fluid<br>
				<input style="width: 1% !important" id="transF" type="radio" value="Transgender Female" name="gender"> Transgender Female<br>
				<input style="width: 1% !important" id="transM" type="radio" value="Transgender Male" name="gender"> Transgender Male<br>
				<input style="width: 1% !important" id="other" type="radio" value="other" name="gender"> Other<br>
			</div>

		</td>
	</tr>
	<tr height=160>
		<td>Ethnicity</td>
		<td>
			<input class="nonEditMode" id="ethnicity" value="{{ mentor.ethnicity }}" readonly>
	
			<div id="changeEthnicity" style=" font: 13px 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;" hidden>
				<input style="width: 1% !important" id="white" type="radio" value="white" name="ethnicity"> White<br>
				<input style="width: 1% !important" id="aioan" type="radio" value="american_indian_or_alaska_native" name="ethnicity"> American Indian or Alaska Native<br>
				<input style="width: 1% !important" id="asian" type="radio" value="asian" name="ethnicity"> Asian<br>
				<input style="width: 1% !important" id="black" type="radio" value="black_or_african_american" name="ethnicity"> Black or African American</br>
				<input style="width: 1% !important" id="hispanic" type="radio" value="hispanic_or_latino" name="ethnicity"> Hispanic or Latino<br>
				<input style="width: 1% !important" id="hawaiian" type="radio" value="native_hawaiian" name="ethnicity"> Native Hawaiian or Other Pacific Islander<br>
			</div>
		</td>
	</tr>
	<tr height=50>
    <td>Notes</td>
    <td>
      <textarea rows="10" cols="60" class="enableEdit" name="notes" id="notes" class="field-long field-textarea" readonly>{{ mentor.notes }}</textarea>
    </td> 
    </td> 
  </tr>

	<tr height=50>
		<td>Paired Students</td>	
		<td>
      <table id="students_table">
				{% for student in mentor.students %}
          <tr class="student_table_row" id="row_{{ student.id }}">
            <td>
              <a href="/student/profile/{{ student.id }}">{{ student.first_name }} {{ student.last_name }}</a>
            </td>
            <td class="student_table_delete_button" hidden>
              <button style="color: red" type="button" onClick="removeStudent('{{ student.id }}', '{{ mentor.id }}')">delete</button>
            </td>
          </tr>
				{% endfor %}
			</table>
    </td>
	</tr>

</table>

<div id="editContent">
<button type="button" onClick="enableEdit()">Edit</button><br>
</div>

<input id="saveButton" type="submit" value="save" hidden>

</form>








<br><br>
<button type="button" style="color: red;" onClick="deleteMentor('{{ student.id }}')">Delete</button>
<br><br>





{% load static %}


<script src="{% static 'wkit/edit_profile.js' %}"></script>
<script src="{% static 'wkit/mentor_profile.js' %}"></script>
<script src="{% static 'wkit/create.js' %}"></script>
<script src="{% static 'wkit/csrftoken.js' %}"></script>
<script src="{% static 'wkit/pair_student_table.js' %}"></script>


{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'wkit/style.css' %}">
{% endblock %}





