{% block menu %}
  {% include "wkit/menu.html" %}
{% endblock %}

{% load static %}

<h1>Search Mentors</h1>

<form style="background-color:#E6E6FA; padding: 10px;" method="post">
{% csrf_token %}

	<label for="search-type">Search by: </label>
	<select id="search_type" name="search_type">
    <option value="name" {% if request.POST.search_type == "name" %}selected{% endif %}>Name</option>
		<option value="email" {% if request.POST.search_type == "email" %}selected{% endif %}>Email</option>
		<option value="phone_number" {% if request.POST.search_type == "phone_number" %}selected{% endif %}>Phone Number</option>
		<option value="full_scan" {% if request.POST.search_type == "full_scan" %}selected{% endif %}>Full Scan</option>
	</select>

  <input id="search_entry" type="text" name="search_entry" value="{{request.POST.search_entry}}">
	<input type="submit" value="Search" />
	<br>
</form>

<table id="mentor-search-table" class="search-table">
  <tr>
    <th>Name</th>
    <th>Phone Number</th> 
    <th>Email</th>
  </tr>
	{% for mentor in mentors %}
	<tr>
		<td><a style="text-decoration:none" href="{% url 'mentor/profile' id=mentor.id %}">{{ mentor.first_name }} {{ mentor.last_name }}</a></td>
		<td><a style="text-decoration:none" href="{% url 'mentor/profile' id=mentor.id %}">{{ mentor.phone_number }}</a></td>
		<td><a style="text-decoration:none" href="{% url 'mentor/profile' id=mentor.id %}">{{ mentor.email }}</a></td>
	</tr>
	{% endfor %}
</table>

{% csrf_token %}

<br>
<div style="position: absolute; right: 150;">
  <button id="prev_page" onClick="mentorLastPage()">&larr;</button>
  <span id="mentors_page_num">1</span>
  <button id="next_page" onClick="mentorNextPage()">&rarr;</button>
</div>

{% load static %}
<script src="{% static 'wkit/mentor_search.js' %}"></script>
<script src="{% static 'wkit/csrftoken.js' %}"></script>



{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'wkit/style.css' %}">
{% endblock %}


