{% block menu %}
  {% include "wkit/menu.html" %}
{% endblock %}

{% load static %}

<h1>Search Organizations</h1>

<form style="background-color:#E6E6FA; padding: 10px;" method="post">
{% csrf_token %}

	<label for="search-type">Search by: </label>
	<select id="search_type" name="search_type">
		<option value="Name" {% if request.POST.search_type == "Name" %}selected{% endif %}>Name</option>
		<option value="City" {% if request.POST.search_type == "City" %}selected{% endif %}>City</option>
		<option value="full_scan" {% if request.POST.search_type == "full_scan" %}selected{% endif %}>Full Scan</option>
	</select>

	<input id="search_entry" type="text" name="search_entry" value="{{request.POST.search_entry}}">
	<input type="submit" value="Search" />
	<br>
</form>

<table id="organization-search-table" class="search-table">
  <tr>
    <th>Name</th>
    <th>City</th> 
  </tr>
	{% for organization in organizations %}
  <tr>
    <td><a style="text-decoration:none" href="{% url 'organization/profile' id=organization.id %}">{{ organization.organization_name }}</a></td>
    <td><a style="text-decoration:none" href="{% url 'organization/profile' id=organization.id %}">{{ organization.city }}</a></td>
  </tr>
	{% endfor %}
</table>

{% csrf_token %}

<br>
<div style="position: absolute; right: 150;">
  <button id="prev_page" onClick="lastPage()" {% if pageNum < 1 %}disabled{% endif %}>&larr;</button>
   <span id="page_num">1</span>
  <button id="next_page" onClick="nextPage()" {% if not hasNext %} disabled{% endif %}>&rarr;</button>
</div>
<br>
<br>

{% load static %}
<script src="{% static 'wkit/organization_search.js' %}"></script>
<script src="{% static 'wkit/csrftoken.js' %}"></script>

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'wkit/style.css' %}">
{% endblock %}



